*.cache
DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
DAL/obj/Debug/net8.0/DAL.AssemblyInfoInputs.cache
*.v2
DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
DAL/obj/Debug/net8.0/DAL.AssemblyInfoInputs.cache
DAL/obj/Debug/net8.0/DAL.assets.cache
DAL/obj/Debug/net8.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
EventApi/.vs/EventApi/CopilotIndices/17.13.441.19478/CodeChunks.db
EventApi/.vs/EventApi/CopilotIndices/17.13.441.19478/SemanticSymbols.db
EventApi/.vs/EventApi/DesignTimeBuild/.dtbcache.v2
EventApi/.vs/EventApi/FileContentIndex/f3c4f93f-da85-43ff-a7d4-d1f3f3b3e317.vsidx
EventApi/.vs/EventApi/v17/.suo
EventApi/.vs/EventApi/v17/DocumentLayout.backup.json
EventApi/.vs/EventApi/v17/DocumentLayout.json
EventApi/.vs/ProjectEvaluation/eventapi.metadata.v9.bin
EventApi/.vs/ProjectEvaluation/eventapi.projects.v9.bin
EventApi/.vs/ProjectEvaluation/eventapi.strings.v9.bin
EventApi/bin/Debug/net8.0/appsettings.Development.json
EventApi/bin/Debug/net8.0/appsettings.json
EventApi/bin/Debug/net8.0/DAL.dll
EventApi/bin/Debug/net8.0/DAL.pdb
EventApi/bin/Debug/net8.0/EventApi.deps.json
EventApi/bin/Debug/net8.0/EventApi.dll
EventApi/bin/Debug/net8.0/EventApi.exe
EventApi/bin/Debug/net8.0/EventApi.pdb
EventApi/bin/Debug/net8.0/EventApi.runtimeconfig.json
EventApi/bin/Debug/net8.0/EventApi.staticwebassets.endpoints.json
EventApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EventApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
EventApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
EventApi/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
EventApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
EventApi/bin/Debug/net8.0/Npgsql.dll
EventApi/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EventApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
EventApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EventApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EventApi/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
EventApi/obj/Debug/net8.0/apphost.exe
EventApi/obj/Debug/net8.0/EventApi.AssemblyInfo.cs
EventApi/obj/Debug/net8.0/EventApi.AssemblyInfoInputs.cache
EventApi/obj/Debug/net8.0/EventApi.assets.cache
EventApi/obj/Debug/net8.0/EventApi.csproj.AssemblyReference.cache
EventApi/obj/Debug/net8.0/EventApi.csproj.FileListAbsolute.txt
EventApi/obj/Debug/net8.0/EventApi.csproj.Up2Date
EventApi/obj/Debug/net8.0/EventApi.dll
EventApi/obj/Debug/net8.0/EventApi.GeneratedMSBuildEditorConfig.editorconfig
EventApi/obj/Debug/net8.0/EventApi.MvcApplicationPartsAssemblyInfo.cs
EventApi/obj/Debug/net8.0/EventApi.pdb
EventApi/obj/Debug/net8.0/EventApi.sourcelink.json
EventApi/obj/Debug/net8.0/ref/EventApi.dll
EventApi/obj/Debug/net8.0/refint/EventApi.dll
EventApi/obj/Debug/net8.0/staticwebassets.build.endpoints.json
EventApi/obj/Debug/net8.0/staticwebassets.build.json
EventApi/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
EventApi/obj/Debug/net8.0/staticwebassets/msbuild.build.EventApi.props
EventApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EventApi.props
EventApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EventApi.props
*.cache
*.v2
*.dll
