# Compiled output
/bin
/obj

# NuGet packages
/packages
*.nupkg
*.snupkg

# User-specific files
*.user
*.suo
*.vspscc
*.vssscc
_ReSharper.*
*.csproj.user
Properties/launchSettings.json # Often contains user-specific paths

# Tooling
.vs/
.idea/
node_modules/
bower_components/
yarn.lock

# Environment-specific files
appsettings.Development.json
*.log

# Publish output
/publish

# Docker related
Dockerfile*
docker-compose*

# Other temporary files
*.tmp
*.bak
*.swp